<div class="container">
  <button type="button" class="btn primary-btn m-0 theme-sm-btn" (click)="openModal(success_template)">
    Open
  </button>
</div>


<ng-template #success_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md success-info pb-modal">
      <div class="modal-header">
        <div class="close-icon" (click)="successModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
           hELLO
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>